* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {

  width: 100%;
  height: 100%;

  overflow: hidden;

  font-family:
    Inter,
    system-ui,
    sans-serif;

  background: #081935;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.app-container {

  width: 100%;
  height: 100vh;

  position: relative;

  overflow: hidden;
}

/* =========================================
MOBILE LAYOUT
========================================= */

@media (max-width: 768px) {

  html,
  body,
  #root {

    overflow: hidden;
  }

  .app-container {

    display: flex;

    flex-direction: column;
  }
}
