.fullscreen-map {

  position: absolute;

  inset: 0;

  width: 100%;

  height: 100%;

  z-index: 1;
}

/* =========================================
MOBILE MAP
========================================= */

@media (max-width: 768px) {

  .fullscreen-map {

    height: 52vh;
  }

  .mapboxgl-canvas-container,
  .mapboxgl-canvas {

    height: 52vh !important;
  }
}

.mapboxgl-control-container {

  z-index: 2;
}
